.about {
  display: grid;
}

.about__wrapper {
  display: grid;
  padding: 120px 50px 125px;
  grid-template-columns: auto 660px;
  column-gap: 80px;
  justify-content: center;

  @include vp-1023 {
    padding: 120px 0;
    column-gap: 40px;
  }

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 0 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    min-width: 320px;
    max-width: 767px;
  }
}

.about__gym {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  text-align: start;
  max-width: 357px;
  margin-bottom: 39px;

  @media (min-width: 1366px) {
    margin-left: 59px;
  }

  @include vp-1199 {
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 502px;
  }

  @include vp-767 {
    text-align: start;
    align-items: start;
    padding: 63px 20px 33px 6px;
    margin: 0;
  }

  span {
    font-family: $ff-base-font;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 0 0 22px;


    @include vp-1199 {
      margin-bottom: 33px;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }

  p {
    font-family: $ff-base-font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: -7px;

    @include vp-1199 {
      width: 100%;
      margin: 0 0 5px;
    }

    @include vp-767 {
      max-width: 261px;
      margin: 0;
    }

    &:last-child {
      @include vp-1199 {
        display: none;
      }

      @include vp-767 {
        display: none;
      }
    }
  }
}

.about__title {
  font-family: $ff-alumni-sans-font;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 1.5px;
  margin: 38px 0 8px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 1.3px;
    margin: 35px 0 -1px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 5px;
    text-align: start;
  }
}

.about__media {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  min-height: 511px;
  position: relative;
  padding: 0 0 110px;

  @include vp-1199 {
    padding: 0 0 16px;
  }

  @include vp-767 {
    padding: 0 0 70px;
  }
}

.about__photo {
  width: 100%;
  margin: 0 auto;
  // min-width: 660px;
  height: 401px;
  aspect-ratio: auto;

  @include vp-1199 {
    max-width: 678px;
    height: auto;
    min-height: 313px;
  }

  @include vp-767 {
    max-width: 320px;
    max-height: 313px;
    margin-bottom: 40px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $color-dark-grey;

    @include vp-1199 {
      max-height: 460px;
    }

    @include vp-767 {
      max-width: 320px;
      max-height: 313px;
    }
  }
}

.about__video {
  position: absolute;
  top: 285px;
  left: 18.5%;
  transform: translateX(-50%);
  width: 364px;
  height: 228px;
  background-color: $color-egyptian-blue;

  @include vp-1199 {
    position: relative;
    top: -84px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 167px;
    width: 266px;
    transform: translateX(0);
    margin: 0 auto;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 167px;
    width: 320px;
    transform: translateX(0);
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.about__videoplayer {
  width: 100%;
  height: 100%;

  @include vp-1199 {
    aspect-ratio: 320/167;
  }
}

.about__play-button {
  padding: 0;
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;

  @include vp-1199 {
    width: 52px;
    height: 52px;
  }

  @include vp-767 {
    width: 52px;
    height: 52px;
  }

  svg {
    width: 17px;
    height: 17px;
    position: absolute;
    color: $color-default-white;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    z-index: 4;

    @include vp-1199 {
      width: 12px;
      height: 12px;
    }

    @include vp-767 {
      width: 12px;
      height: 12px;
    }
  }

  &::before {
    display: block;
    background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
    position: absolute;
    width: 72px;
    height: 72px;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;

    @include vp-1199 {
      width: 52px;
      height: 52px;
    }

    @include vp-767 {
      width: 52px;
      height: 52px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    transform: translate(-14%, -14%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    inset: 0;
    background: linear-gradient(97.05deg, rgba(237, 2, 51, 0.2) 17.6%, rgba(0, 62, 183, 0.2) 95.31%) border-box;
    mask:
      linear-gradient($color-default-white 0 0) padding-box,
      linear-gradient($color-default-white 0 0);
    // -webkit-mask-composite: xor;
    mask-composite: exclude;
    border: 2px solid transparent;

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }

    @include vp-767 {
      width: 73px;
      height: 73px;
    }
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    background: $color-default-white;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    opacity: 1;
    border: solid 2px $color-sapphire;
  }

  &:active::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 58px;
    // height: 58px;
    width: 48.5px;
    height: 48.5px;
    background-color: $color-default-white;

    @include hover;

    @include vp-1199 {
      width: 40px;
      height: 40px;
    }

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &:hover svg,
  &:focus svg,
  &:active svg {
    @include hover;
    color: $color-sapphire;
  }
}

.about__play-button.is-disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;

  &::before {
    background: $color-default-white;
  }

  svg {
    color: $color-sapphire;
  }
}
