.accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: $color-sapphire;
  font-family: $ff-base-font;
  font-style: normal;

  @include vp-1199 {
    min-width: 678px;
  }

  @include vp-767 {
    min-width: 290px;
    min-height: 480px;
    padding: 0;
  }
}

.accordion__element {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border-top: 1px solid rgba(28, 51, 116, 0.2);
  justify-content: space-between;

  &:last-child {
    border-bottom: 1px solid rgba(28, 51, 116, 0.2);

    @include vp-1199 {
      padding: 30px 0;

      h3 {
        padding: 0 161px 0 0;
        margin: 0;
      }

      &.is-active {
        @include vp-1199 {
          margin-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  &.is-active {
    height: 100%;
    margin-bottom: 25px;

    @include vp-1199 {
      margin-bottom: 27px;
    }

    @include vp-767 {
      margin-bottom: 16px;
    }
  }

  h3 {
    font-family: $ff-base-font;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
    text-align: start;
    width: 95%;
    padding: 31px 0;
    margin: 0;

    @media (min-width: 1200px) and (max-width: 1365px) {
      width: 94%;
    }

    @include vp-1199 {
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.09px;
      width: 93.8%;
      padding: 33px 0;
      margin: 0;

      br {
        display: none;
      }
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      width: 88.5%;
      min-height: 84px;
      padding: 19px 0;
      margin: 0;
    }
  }
}

.accordion__button {
  width: 42px;
  height: 42px;
  margin: 0;
  align-self: center;
  position: relative;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $color-sapphire;

  @include vp-767 {
    width: 32px;
    height: 32px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: $color-sapphire;
    display: block;
    width: 18px;
    height: 1px;

    @include vp-767 {
      width: 12px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: rotate(90deg);
    background-color: $color-sapphire;
    height: 1px;
    display: block;
    width: 18px;

    @include vp-1199 {
      width: 18px;
    }

    @include vp-767 {
      width: 12px;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-sapphire;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }
}

.accordion__button span:first-child {
  margin: 0;
  color: $color-sapphire;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;

  @include vp-1199 {
    font-size: 18px;
    line-height: 21.5px;
  }
}

.accordion__button span {
  -webkit-text-stroke: 1px $color-sapphire;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion__element.is-active h3 {
  padding: 32px 0 15px;

  @include vp-1199 {
    padding: 34px 0 15px;
  }

  @include vp-767 {
    padding: 19px 0 12px;
  }
}

.accordion__element.is-active .accordion__button {
  background: $color-sapphire;
  margin-top: 2%;

  @include vp-1199 {
    margin-top: 3%;
  }

  @include vp-767 {
    margin-top: 2%;
  }

  &::before {
    background: $color-default-white;
  }

  &::after {
    display: none;
  }
}

.accordion__element.is--disabled .accordion__button {
  background-color: transparent;

  &::before,
  &::after {
    opacity: 30%;
    pointer-events: none;
    cursor: default;
  }
}

.accordion__content {
  @include vp-767 {
    margin: 0;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    text-align: start;
    width: 78%;
    margin: 0;

    @include vp-767 {
      font-size: 16px;
      line-height: 23px;
      min-width: 290px;
      min-height: 90px;
    }
  }
}

[data-accordion="content"].is-active {
  margin: -16px 0 0 2px;

  @include vp-1199 {
    margin: -16px 0 -2px;

    h3 {
      margin: 10px 0 -10px;
    }
  }

  @include vp-767 {
    margin: 4px 0 11px;

    h3 {
      margin: 6px 0 -8px;
    }
  }
}
