.accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: $color-sapphire;
  font-family: $ff-base-font;
  font-style: normal;

  @include vp-767 {
    min-width: 678px;
  }

  @include vp-319 {
    min-width: 290px;
    min-height: 480px;
    padding: 0;
  }
}

.accordion__element {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
  margin: 0 0 20px 0;
  border-top: 1px solid rgba(28, 51, 116, 0.2);

  @include vp-1365 {
    padding-bottom: 10px;
    margin-bottom: 33px;
  }

  @include vp-1199 {
    margin-bottom: 16px;
  }

  @include vp-767 {
    padding-top: 22px;
    margin-bottom: 31px;
  }

  @include vp-319 {
    padding: 14px 0 9px;
    margin: 0;
  }

  &:last-child {
    margin: -24px 0 10px;
    border-bottom: 1px solid rgba(28, 51, 116, 0.2);

    @include vp-767 {
      padding-top: 31px;
      padding-bottom: 14px;

      h3 {
        padding: 0 161px 0 0;
        margin-top: -4px;
      }
    }

    @include vp-1365 {
      padding-bottom: 20px;
      margin: 0 0 30px;
    }

    @include vp-319 {
      padding-top: 14px;
      padding-bottom: 4px;
    }
  }

  &.is-active {
    height: 100%;
    margin-bottom: 25px;

    @include vp-767 {
      margin-bottom: 27px;
      padding-top: 22px;
    }

    @include vp-319 {
      margin-bottom: 7px;
      padding-top: 14px;
    }
  }

  h3 {
    font-family: $ff-base-font;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.1px;
    text-align: start;
    width: 94%;
    margin-top: 6px;
    margin-bottom: 13px;

    @include vp-1365 {
      letter-spacing: 0;

      br {
        display: none;
      }
    }

    @include vp-767-full {
      font-weight: 500;
      line-height: 24px;
      width: 93.8%;
      margin-top: 9px;
      margin-bottom: 16px;

      br {
        display: none;
      }
    }

    @include vp-319 {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0;
      width: 88.5%;
      min-height: 84px;
      margin-bottom: -7px;
    }
  }
}

.accordion__button {
  width: 42px;
  height: 42px;
  margin: 0;
  right: 0.5px;
  display: flex;
  position: relative;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $color-sapphire;

  @include vp-767-full {
    width: 42px;
    height: 42px;
  }

  @include vp-319 {
    width: 32px;
    height: 32px;
    margin-top: 3%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: $color-sapphire;
    height: 1px;
    display: block;
    width: 18px;

    @include vp-767-full {
      width: 18px;
    }

    @include vp-319 {
      width: 12px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: rotate(90deg);
    background-color: $color-sapphire;
    height: 1px;
    display: block;
    width: 18px;

    @include vp-767-full {
      width: 18px;
    }

    @include vp-319 {
      width: 12px;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-sapphire;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }
}

.accordion__button span:first-child {
  margin: 0;
  color: $color-sapphire;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;

  @include vp-767 {
    font-size: 18px;
    line-height: 21.5px;
  }
}

.accordion__button span {
  -webkit-text-stroke: 1px $color-sapphire;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion__element.is-active .accordion__button {
  background: $color-sapphire;

  @include vp-319 {
    margin-top: 7%;
  }

  &::before {
    background: $color-default-white;
  }

  &::after {
    display: none;
  }
}

.accordion__element.is--disabled .accordion__button {
  &::before,
  &::after {
    opacity: 30%;
    pointer-events: none;
    cursor: default;
  }
}

.accordion__content {
  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    text-align: start;
    width: 78%;
    margin: 0;

    @include vp-1365 {
      br {
        display: none;
      }
    }

    @include vp-767-full {
      br {
        display: none;
      }
    }

    @include vp-319 {
      font-size: 16px;
      line-height: 23px;
      min-width: 290px;
      min-height: 90px;
    }
  }
}
