.contacts {
  padding: 55px 100px 0 123px;
  min-height: 336px;
  color: $color-sapphire;
  font-style: normal;
  border-top: 1px solid $color-light-slate-grey;
  text-align: start;

  @include vp-1199 {
    min-height: 351px;
    padding: 60px 160px 49px 134px;
  }

  @include vp-767 {
    padding: 65px 15px 59px;
    border: none;
  }

  .contacts_title {
    margin: 0 0 39px;

    @media (min-width: $vp-1024) {
      max-width: 462px;
      margin-right: auto;
      margin-left: auto;
    }

    @include vp-1199 {
      max-width: 470px;
    }

    @include vp-767 {
      margin: 0 0 34px;
    }
  }
}

.contacts__list {
  @include list;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  column-gap: 26%;
  row-gap: 15px;
  padding-bottom: 62px;
  min-height: 100px;

  @media (min-width: $vp-1024) {
    max-width: 462px;
    margin: 0 auto;
  }

  @include vp-1199 {
    column-gap: 118px;
    row-gap: 24px;
    padding-bottom: 0;
    justify-content: space-between;
  }

  @include vp-767 {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    padding-bottom: 0;
  }
}

.contacts__list::before {
  position: absolute;
  content: "";
  top: 5%;
  left: 50%;
  height: 128px;
  width: 1px;
  background-color: $color-light-slate-grey;
  z-index: 1;

  @include vp-1199 {
    top: 3px;
    left: 56%;
    height: 129px;
  }

  @include vp-767 {
    display: none;
  }
}

.contacts__item {
  p {
    font-family: $ff-base-font;
    font-size: 16px;
    font-weight: 700;
    color: $color-sapphire;
    margin: 0;
    padding: 0;

    @include vp-1199 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 7px;
      letter-spacing: 0;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 3px;
    }
  }

  span {
    font-family: $ff-base-font;
    font-size: 14px;
    font-weight: 400;
    color: $color-sapphire;

    @include vp-1199 {
      font-size: 18px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 28px;
    }
  }

  a {
    font-family: $ff-base-font;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 1px;
    color: $color-sapphire;

    @include vp-767 {
      letter-spacing: 0;
    }
  }
}

.contacts__item--address {
  width: 43.4%;

  @include vp-1199 {
    width: 46%;
  }

  @include vp-767 {
    width: 100%;
    order: -1;
  }
}

.contacts__item--phone {
  width: 37.4%;

  @include vp-1199 {
    width: 34%;
    margin-left: -29px;
  }

  @include vp-767 {
    width: 100%;
    order: 2;
    margin-left: 0;
  }

  a {
    @include vp-767 {
      letter-spacing: 0.1px;
    }
  }
}

.contacts__item--schedule {
  width: 43.4%;
  margin-top: -4px;

  @include vp-767 {
    width: 100%;
    order: 0;
  }
}

.contacts__item--email {
  width: 37.4%;
  margin-top: -4px;

  @include vp-1199 {
    width: 34%;
  }

  @include vp-767 {
    width: 100%;
    order: 2;
  }

  p {
    @include vp-767 {
      margin-top: -2px;
    }
  }
}
