.contacts {
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding: 56px 100px 48px 124px;
  min-height: 336px;
  color: $color-sapphire;
  font-style: normal;
  text-align: start;
  max-width: 683px;

  @include vp-1199 {
    min-height: 351px;
    padding: 61px 90px 38px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 62px 87px 43px 15px;
    border: none;
  }
}

.contacts__title {
  letter-spacing: 1.5px;
  margin: 0 0 -2px -3px;

  @include vp-1199 {
    letter-spacing: 1.5px;
    max-width: 470px;
    margin: 0;
  }

  @include vp-767 {
    letter-spacing: 1px;
    margin: 0 0 -3px;
  }
}

.contacts__lists {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 230px;
    width: 1px;
    height: 77%;
    background-color: $color-light-slate-grey;
  }

  @include vp-1199 {
    margin: 0;
    gap: 96px;

    &::before {
      top: 3px;
      left: 266px;
      height: 77%;
    }
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 0;

    &::before {
      content: none;
    }
  }
}

.contacts__lists span,
.contacts__lists a {
  font-family: $ff-base-font;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  color: $color-sapphire;
  margin: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 28px;
  }
}

.contacts__lists a {
  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin: 0 0 12px;
  min-width: 170px;

  @include vp-1199 {
    margin: 0 0 26px;
    min-width: 218px;
  }

  @include vp-767 {
    margin: 0 0 20px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    margin: 0;

    @include vp-1199 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 12px;
      letter-spacing: 0;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 4px;
    }
  }
}
