.faq {
  font-family: $ff-base-font;
  font-style: normal;
  font-weight: 500;
  background-color: $color-ghost-white;
  color: $color-sapphire;
  padding: 119px 92px 60px 102px;

  @include vp-767 {
    padding: 73px 45px 91px;
  }

  @include vp-319 {
    padding: 70px 15px 38px;
  }

  h2 {
    font-family: $ff-alumni-sans-font;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 1.6px;
    color: $color-sapphire;
    text-align: left;
    width: 100%;
    margin: 0;
    margin-bottom: 40px;

    @include vp-767 {
      font-size: 42px;
      line-height: 51px;
      letter-spacing: 1.3px;
      margin-top: 25px;
      margin-bottom: 36px;
      text-align: center;
    }

    @include vp-319 {
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 1px;
      text-align: center;
      margin: 0 0 28px;
    }
  }
}

.faq__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: $color-ghost-white;
  max-height: 770px;
  column-gap: 37px;

  @include vp-767 {
    width: 678px;
  }

  @include vp-374 {
    justify-content: center;
  }
}

.faq__controls {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 10px;
  max-width: 260px;
  max-height: 246px;

  @include vp-767 {
    flex-direction: row;
    justify-content: space-between;
    min-width: 678px;
    margin-bottom: -3px;
  }

  @include vp-319 {
    flex-direction: row;
    min-width: 290px;
    justify-content: space-between;
    margin-bottom: -5px;
  }
}

.faq__control {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: $color-sapphire;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16.5px 18px;
  margin: 0;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(16, 38, 84, 0.2);
  cursor: pointer;

  @include vp-1365 {
    width: 260px;
  }

  @include vp-767-full {
    width: 162px;
    padding: 18px 58px;
  }

  @include vp-319 {
    font-size: 16px;
    line-height: 16px;
    width: 141px;
    height: 44px;
    padding: 15px;
    margin: 0;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-sapphire;
    background-color: transparent;
    outline: none;
  }

  &:active {
    color: $color-default-white;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    border: none;
    padding: 19px 59px;
  }

  &:disabled {
    border: 1px solid rgba(16, 38, 84, 0.2);
    color: $color-link-water;
    background-color: transparent;
  }

  &.is-active {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    border: none;
    padding: 19px 59px;
    color: $color-default-white;
  }
}

.faq__content {
  display: flex;
  align-items: start;
  width: 74.3%;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background: $color-ghost-white;

    @include vp-1365 {
      margin-top: -38px;
    }

    @include vp-319 {
      min-height: 514px;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
}
