.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  // max-height: 337px;
  height: 100%;
  text-align: start;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.feedback__container--form {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  background-color: $color-sapphire;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.feedback__free-lesson {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 336px;
  padding: 65px 170px 66px 102px;
  font-style: normal;
  color: $color-default-white;

  @include vp-1199 {
    min-height: 324px;
    padding: 60px 162px 55px 132px;
  }

  @include vp-767 {
    padding: 63px 15px 69px;
  }

  form {
    font-family: $ff-base-font;
    font-size: 14px;
    line-height: 1;
    color: $color-default-white;
    display: flex;
    flex-wrap: wrap;
    column-gap: 7%;
    row-gap: 27px;

    @include vp-1199 {
      flex-direction: row;
      column-gap: 12.6%;
      row-gap: 25px;
    }

    @include vp-767 {
      flex-direction: column;
      min-width: 290px;
      row-gap: 25px;
    }
  }
}

.feedback__title {
  line-height: 156%;
  letter-spacing: 2.3px;
  text-align: start;
  margin: 0;

  @include vp-1199 {
    letter-spacing: 1.6px;
    margin-bottom: 6px;
  }

  @include vp-767 {
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  width: 46.3%;

  @include vp-1199 {
    width: 43.5%;
  }

  @include vp-767 {
    width: 100%;
  }

  label {
    display: none;
  }

  input {
    font-family: $ff-base-font;
    font-size: 14px;
    color: $color-default-white;
    width: 100%;
    background-color: transparent;
    margin-bottom: 3px;
    border: none;
    border-bottom: 1px solid $color-light-slate-grey;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid $color-default-white;
    }

    &:active,
    &:focus {
      padding: 10px;
      outline: 1px solid $color-default-white;
      border: none;
      margin-bottom: -10px;

      @include vp-767 {
        margin-bottom: -3px;
      }
    }

    &:disabled {
      opacity: 0.4;
    }

    @include vp-1199 {
      padding-bottom: 5px;
    }

    @include vp-767 {
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  }

  input:disabled::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  input::placeholder {
    font-family: $ff-base-font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $color-default-white;
  }

  input:active::placeholder,
  input:focus::placeholder {
    color: transparent;
  }
}

.feedback__form-button {
  width: 100%;
  padding: 17px;
  text-align: center;
  font-family: $ff-base-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.7px;
  border: 3px solid $color-default-white;
  background-color: $color-sapphire;
  color: $color-default-white;
  text-transform: uppercase;
  cursor: pointer;

  @include vp-1199 {
    padding: 17px 17px 18px;
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-top: 3px;
  }
}

[data-message-base="Поле обязательно к заполнению"],
[data-message-extra="Проверьте корректность заполнения поля"] {
  color: $color-torch-red;
  font-family: $ff-base-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.feedback__container--contacts {
  grid-column: 2 / 3;
  width: 100%;
  height: 100%;
  align-items: center;


  @include vp-1199 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @include vp-767 {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 320px) {
    justify-content: start;
  }
}
