.header {
  @include gradient-screen;
  width: 100%;

  @include vp-1199 {
    @include gradient-screen-tablet;
  }

  @include vp-767 {
    @include gradient-screen-mobile;
  }
}

.header__container {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 52px;

  @include vp-1199 {
    position: relative;
    padding-top: 32px;
  }

  @include vp-767 {
    padding-top: 11px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 107px 0 103px;

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 16px;
  }
}

.header__logo {
  padding-top: 10px;

  img {
    max-width: 122px;
    max-height: 44px;

    @include vp-1023 {
      max-width: 82px;
      max-height: 17px;
    }

    @include vp-767 {
      max-width: 65px;
      max-height: 24px;
    }
  }
}

.header__tel {
  font-family: $ff-alumni-sans-font;
  font-style: normal;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: $color-default-white;

  @include vp-1199 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding-top: 3px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding-top: 5px;
  }
}
