.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: -13px;
  margin-right: 168px;

  @include vp-1199 {
    margin: 0;
    padding-top: 18px;
  }

  @include vp-767 {
    display: grid;
    place-content: center;
    padding: 0;
    margin: 0;
  }
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: 1200px) and (max-width: 1365px) {
    width: 89%;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__list {
  @include list;
  position: relative;
  top: 84px;
  right: 12px;
  padding-bottom: 52px;
  align-self: center;

  @include vp-1199 {
    top: 7px;
    left: 3px;
    align-self: center;
  }

  @include vp-767 {
    top: 193px;
    left: -180px;
  }

  li {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $color-default-white;
    text-align: right;
  }
}

.hero__wrapper {
  padding: 111px 65px 0 3px;

  @include vp-1199 {
    padding: 51px 0 203px;
  }

  @include vp-767 {
    padding: 6px 0 0;
    margin-top: -52px;
  }


  span {
    font-family: $ff-alumni-sans-font;
    font-style: normal;
    font-size: 42px;
    line-height: 58px;
    font-weight: 600;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    margin-right: 50px;

    @include vp-1199 {
      font-size: 28px;
      line-height: 41px;
      margin-right: 35px;
    }

    @include vp-767 {
      font-size: 23px;
      line-height: 34px;
      margin-right: 3px;
    }
  }

  h1 {
    font-family: $ff-alumni-sans-font;
    font-style: normal;
    font-size: 92px;
    line-height: 110px;
    font-weight: 800;
    letter-spacing: 4px;
    color: $color-default-white;
    text-align: right;
    text-transform: uppercase;
    margin: 0 0 49px;
    padding: 14px 0 0;

    @include vp-1199 {
      font-size: 78px;
      line-height: 86px;
      letter-spacing: 0;
      text-transform: none;
      padding: 5px 25px 0 17px;
      margin: 0 7px 0 8px;
    }

    @include vp-767 {
      font-size: 72px;
      line-height: 87px;
      text-transform: none;
      letter-spacing: 2.5px;
      margin: 0 0 23px 103px;
      padding: 12px 0 0;
    }
  }
}

.hero__button {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: $color-default-white;
  text-transform: uppercase;
  border: 4px solid $color-default-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 234px;
  height: 57px;
  margin: 0 0 -2px 15px;
  padding: 27px 48px;

  &:hover {
    color: $color-egyptian-blue;
    background: $color-default-white;
  }

  &:active {
    color: $color-sapphire;
  }

  &:disabled {
    color: $color-default-white;
    border: 4px solid $color-default-white;
    background: none;
  }

  @include vp-1199 {
    width: 187px;
    height: 57px;
    position: absolute;
    padding: 27px 20px;
    margin: 37px 0 0 29px;
  }

  @include vp-767 {
    width: 294px;
    height: 59px;
    padding: 27px 76px;
    margin: -1px 0 78px -1px;
  }
}
