.promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include vp-1365 {
    padding: 94px 50px 0;
  }

  @include vp-767-full {
    padding: 89px 45px;
  }

  @include vp-319 {
    padding: 63px 15px 0;
  }
}

.promotion__title {
  font-family: $alumni-sans-font;
  font-weight: 600;
  font-style: normal;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 1.5px;
  margin-bottom: 32px;

  @include vp-767 {
    font-size: 42px;
    line-height: 51px;
    margin: 0 0 40px;
  }

  @include vp-319 {
    font-size: 32px;
    line-height: 39px;
    margin: 0 0 42px;
  }
}

.promotion__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 120px;

  @include vp-1365 {
    height: 462px;
  }

  @include vp-1199 {
    height: 462px;
  }

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 14px;
  }

  @include vp-319 {
    flex-direction: column;
    gap: 31px;
    margin-bottom: 70px;
  }

  div {
    max-width: 560px;

    @include vp-767 {
      max-width: 678px;
    }

    @include vp-319 {
      max-width: 290px;
    }
  }
}

.promotion__first {
  display: flex;
  flex-direction: row;
  background-color: $torch-red;
  color: $color-default-white;

  @include vp-319 {
    flex-direction: column;
  }

  &--description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding: 34px 34px 45px 45px;

    @include vp-767 {
      width: 279px;
    }

    @include vp-319 {
      padding: 34px 49px 44px;
      text-align: center;
    }

    span {
      font-weight: 700;
      font-size: 28px;
      line-height: 44px;
    }

    big {
      font-weight: 700;
      font-size: 70px;
      line-height: 110px;
      margin-top: -25px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin-top: -3px;
      margin-bottom: 187px;

      @include vp-319 {
        margin-top: -8px;
        margin-bottom: 29px;
      }
    }

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: $color-default-white;
      border-bottom: 1px solid $color-default-white;
      width: 79px;

      @include vp-319 {
        align-self: center;
      }
    }
  }

  img {
    object-fit: cover;
    background-color: $torch-red;

    @include vp-1365 {
      max-width: 280px;
      height: 462px;
    }

    @include vp-1199 {
      max-width: 280px;
      height: 462px;
    }

    @include vp-767 {
      width: 399px;
      height: 462px;
    }

    @include vp-319 {
      width: 100%;
      height: 100%;
    }
  }
}

.promotion__promotions {
  display: flex;
  flex-direction: column;
  width: 560px;
  gap: 40px;

  @include vp-1365 {
    height: 462px;
  }

  @include vp-1199 {
    height: 462px;
  }

  @include vp-767 {
    flex-direction: row;
    width: 678px;
    justify-content: space-between;
    gap: 32px;
  }

  @include vp-319 {
    min-width: 290px;
    gap: 30px;
  }
}

.promotion__second,
.promotion__third {
  display: flex;
  flex-direction: column;
  height: 211px;
  border: 7px solid;
  border-image: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%) 1;
  text-align: start;
  padding-left: 28px;

  @include vp-767 {
    width: 324px;
    margin-top: -10px;
  }

  @include vp-319 {
    text-align: center;
    padding: 10px 30px;
  }

  span {
    font-weight: 700;
    font-size: 26px;
    line-height: 76px;
    margin: 0;
    margin-bottom: -17px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 72px;

    @include vp-319 {
      margin: 0 0 27px;
      max-width: 159px;
      align-self: center;
    }
  }

  a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $sapphire;
    border-bottom: 1px solid $sapphire;
    width: 68px;

    @include vp-319 {
      align-self: center;
    }
  }
}

.promotion__second {
  @include vp-767 {
    padding-right: 56px;

    p {
      margin: 0 0 49px;
    }
  }
}
