.promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 90px 103px 0;

  @include vp-1199 {
    padding: 65px 45px 85px;
  }

  @include vp-767 {
    padding: 65px 15px 69px;
  }
}

.promotion__title {
  letter-spacing: 1.5px;
  margin-bottom: 32px;

  @include vp-1199 {
    letter-spacing: 1.3px;
    margin: 25px 0 41px;
  }

  @include vp-767 {
    letter-spacing: 1px;
    margin: 0 0 41px;
  }
}

.promotion__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 120px;
  height: 100%;

  @include vp-1199 {
    height: 100%;
    width: 100%;
    gap: 30px;
    margin-bottom: 14px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 31px;
    margin-bottom: 0;
  }
}

.promotion__card {
  display: flex;
  flex-direction: column;
  border: 7px solid;
  border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;
  text-align: start;
  padding-bottom: 29px;
  padding-left: 28px;
  min-height: 211px;

  @include vp-1199 {
    min-width: 324px;
    padding: 0 42px 28px 28px;
  }

  @include vp-767 {
    text-align: center;
    padding: 10px 30px 39px;
  }

  span {
    font-weight: 700;
    font-size: 26px;
    line-height: 76px;
    margin: 0;
    margin-bottom: -17px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 72px;

    @include vp-1199 {
      margin: 0 0 48px;
    }

    @media (min-width: 885px) and (max-width: 1199px) {
      margin: 0 0 72px;
    }

    @include vp-767 {
      margin: 0 0 27px;
      max-width: 159px;
      align-self: center;
    }
  }

  a {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: $color-sapphire;
    border-bottom: 1px solid $color-sapphire;
    width: 68px;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $color-sapphire;
      outline: none;
      text-decoration: none;
    }

    &:disabled {
      opacity: 0.5;
    }

    @include vp-767 {
      align-self: center;
    }
  }
}

.promotion__card:last-child {
  @include vp-1199 {
    p {
      margin: 0 0 72px;
    }
  }
}

.promotion__card--main {
  display: flex;
  flex-direction: row;
  background-color: $color-torch-red;
  color: $color-default-white;
  border: none;
  grid-row: span 2;
  height: 100%;
  padding: 0;

  @include vp-1199 {
    width: 100%;
    justify-content: space-between;
    grid-row: span 2;
    grid-column: span 2;
    padding: 0;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0;
  }

  img {
    height: 100%;
    width: 100%;
    min-width: 281px;
    max-width: 100%;
    object-fit: cover;
    background-color: $color-torch-red;

    @include vp-1199 {
      width: 100%;
      min-width: 399px;
      max-width: 100%;
      height: 100%;
    }

    @include vp-767 {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}

.promotion__card__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding: 34px 34px 36px 45px;

  @include vp-767 {
    padding: 34px 49px 45px;
    text-align: center;
  }

  span {
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
    margin: 0;
  }

  strong {
    font-weight: 700;
    font-size: 70px;
    line-height: 110px;
    margin-top: -25px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: -3px;
    margin-bottom: 187px;
    max-width: 189px;

    @include vp-767 {
      margin-top: -8px;
      margin-bottom: 29px;
      max-width: 100%;
    }
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: $color-default-white;
    border-bottom: 1px solid $color-default-white;
    width: 79px;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      border: 1px solid $color-default-white;
      outline: none;
      text-decoration: none;
    }

    &:disabled {
      opacity: 0.5;
    }

    @include vp-767 {
      align-self: center;
    }
  }
}
