.subscription__container {
  width: 100%;
  background-color: $color-ghost-white;
  padding: 120px 82px 118px;

  @include vp-1199 {
    padding: 100px 100px 62px;
  }

  @include vp-767 {
    padding: 63px 15px 66px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 1921px;
    right: 0;
    background-repeat: no-repeat;
    z-index: 0;
    background-image: url("../img/dumbbells.png");
    width: 287px;
    height: 412px;

    @media (min-width: 1124px) and (max-width: 1199px) {
      background-image: url("../img/dumbbells.png");
      width: 287px;
      height: 412px;
      top: 2337px;
    }

    @media (min-width: 768px) and (max-width: 1123px) {
      background-image: url("../img/dumbbells-tablet.png");
      width: 347px;
      height: 372px;
      top: 2868px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscription__title {
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0 0 15px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
}

.subscription__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  margin: auto;
  max-width: 341px;
  gap: 0;

  @include vp-1199 {
    max-width: 332px;
  }
}

.subscription__button {
  font-family: $ff-base-font;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  border-bottom: 2px solid $color-transparent;
  color: $color-bahama-blue;
  padding: 0 0 12px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &.is-active {
    color: $color-sapphire;
    border-bottom: 2px solid #d10a42;
    margin-bottom: -2px;
  }

  &:hover,
  &:focus {
    color: $color-sapphire;
    opacity: 1;
    border-bottom: 2px solid #d10a42;
    margin-bottom: -2px;
  }

  &:disabled {
    color: $color-bahama-blue;
    opacity: 0.5;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    padding: 0 0 12px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 12px;
    margin: 0;
  }
}

.subscription__content {
  margin-top: 38px;

  @include vp-1199 {
    margin-top: 43px;
  }

  @include vp-767 {
    margin-top: 34px;
  }
}

.subscription__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 39px;
  padding: 0;
  margin: 0;
  background-color: $color-transparent;

  @include vp-1199 {
    gap: 40px;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: center;
    gap: 36px;
  }
}

.subscription__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;
  width: 360px;
  height: 448px;
  padding: 51px 69px 60px;

  @include vp-1199 {
    min-width: 442px;
    height: 448px;
    padding: 56px 33px 46px;
  }

  @include vp-767 {
    width: 290px;
    height: 384px;
    padding: 44px 33px 46px;
  }

  &:hover,
  &:focus {
    border: 7px solid;
    border-image: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%) 1;

    a {
      color: $color-default-white;
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      border: none;
    }
  }

  h3 {
    font-family: $ff-base-font;
    font-style: normal;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    margin: 0 0 -30px;

    @include vp-1199 {
      font-size: 26px;
      line-height: 29px;
      margin-bottom: 10px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: -44px;
    }
  }

  p {
    margin: 0 0 64px;

    @include vp-1199 {
      margin: 0 0 65px;
    }

    @include vp-767 {
      margin: 0 0 54px;
    }
  }

  span {
    font-family: $ff-base-font;
    font-style: normal;
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    color: $color-egyptian-blue;
    display: grid;
    grid-template-columns: 0 auto auto;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    margin: 34px 15px 0 0;

    @include vp-1199 {
      font-size: 60px;
      line-height: 90px;
      margin: 0 0 29px -12px;
      gap: 12px;
    }

    @include vp-767 {
      font-size: 48px;
      line-height: 72px;
      margin: 0 0 -25px -12px;
      gap: 10px;
    }

    svg {
      width: 30px;
      height: 42px;

      @include vp-1199 {
        width: 30px;
        height: 42px;
      }

      @include vp-767 {
        width: 24px;
        height: 33px;
      }
    }

    &::before {
      position: relative;
      content: attr(data-parent);
      top: -24px;
      left: -8px;
      transform: translateX(-50%);
      font-size: 100px;
      color: #e8e8e8;
      opacity: 0.48;
      z-index: -1;

      @include vp-1199 {
        top: -22px;
        left: -9px;
        font-size: 100px;
      }

      @include vp-767 {
        top: -20px;
        left: -6px;
        font-size: 80px;
      }
    }
  }

  a {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;
    color: $color-sapphire;
    text-transform: uppercase;
    border: 2px solid $color-sapphire;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 208px;
    height: 66px;
    padding: 27px 41px;

    &:hover,
    &:focus {
      color: $color-default-white;
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      border: none;
    }

    &:active {
      color: rgba(255, 255, 255, 0.7);
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      border: none;
    }

    &:disabled {
      color: $color-sapphire;
      border-color: $color-sapphire;
      opacity: 0.3;
      background: none;
    }

    @include vp-1199 {
      width: 208px;
      height: 66px;
      padding: 27px 30px;
      margin: 5px auto;
    }
  }
}
