*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: $sapphire;
  background-color: $color-default-white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

input,
button {
  font-family: inherit;
}
