@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin gradient-text {
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-size: contain;
}

@mixin gradient-button {
  background: linear-gradient(97.05deg, #b80027 17.6%, #003d85 95.31%);
  background-size: contain;
}

@mixin gradient-screen {
  background: conic-gradient(from 150.87deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  background-size: contain;
}

@mixin gradient-screen-tablet {
  background: conic-gradient(from 150.87deg at 20.76% 35.65%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  background-size: contain;
}

@mixin gradient-screen-mobile {
  background: conic-gradient(from 150.87deg at 35% 30.5%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  background-size: contain;
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1365 {
  @media (min-width: ($vp-1366)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1199-full {
  @media (min-width: ($vp-1200)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (min-width: $vp-1200) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-767-full {
  @media (min-width: ($vp-768)) and (max-width: ($vp-1366 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (min-width: ($vp-375 - 1px)) and (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-319 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}
